@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    180deg,
    #f3f4f6 0%,
    #e5e7eb 100%
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 8s linear infinite;
}

/* ===== MARKET TICKER ===== */

.ticker {
  display: flex;
  gap: 40px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  animation: tickerMove 20s linear infinite;
}

.ticker-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.name {
  color: white;
}

.price {
  color: white;
}

.change.up {
  color: #00ff88;
}

.change.down {
  color: #ff4d4d;
}

@keyframes tickerMove {

  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }

}

@keyframes scan {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}